<!-- <mat-card  class="w-75 m-auto">
  <mat-list  >
    <mat-list-item *ngFor="let dbName of collectionService.dataBaseNames">
      <button mat-icon-button (click)="getCollection(dbName)"> <mat-icon mat-list-icon>folder</mat-icon></button>
      <h4 mat-line>{{dbName.name}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card>



<mat-card  align="center" *ngIf="collectionService.collectionFlag === 1" class="my-5 w-75 mx-auto">
  <h1 align="center">List of Collections</h1>
  <mat-list >
    <mat-list-item *ngFor="let CollectionName of collectionService.collectionNames">
      <button mat-icon-button (click)="getData(CollectionName)"> <mat-icon mat-list-icon>folder</mat-icon></button>
      <h4 mat-line>{{CollectionName.name}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card>



<mat-card align="center" *ngIf="collectionService.dataListFlag === 1" class="my-5 w-75 mx-auto">
  <h1 align="center">List of Data</h1>
  <mat-list >
    <mat-list-item *ngFor="let collectionName of collectionService.dataList">
      <button mat-icon-button [disabled]="true"> <mat-icon mat-list-icon>folder</mat-icon></button>
      <h4 mat-line>{{collectionName._id}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card>
-->

<mat-horizontal-stepper [linear]="true" class="w-75 mx-auto">
  <mat-step>
    <ng-template matStepLabel>Select Database</ng-template>
    <mat-card class="w-75 m-auto">
      <mat-list>
        <!-- <mat-list-item role="listitem">{{ dbName.name }}</mat-list-item> -->
        <mat-list-item *ngFor="let dbName of collectionService.dataBaseNames">
          <button
            mat-icon-button
            (click)="getCollection(dbName)"
            matStepperNext
          >
            <mat-icon color="primary" mat-list-icon>folder</mat-icon>
          </button>
          <h4 mat-line>{{ dbName.name }}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Select Collection</ng-template>
    <mat-card
      align="center"
      *ngIf="collectionService.collectionFlag === 1; else elsewarning"
      class="my-5 w-75 mx-auto"
    >
      <h1 align="center">List of Collections</h1>
      <mat-list>
        <mat-list-item
          *ngFor="let CollectionName of collectionService.collectionNames"
        >
          <button
            mat-icon-button
            (click)="getData(CollectionName)"
            matStepperNext
          >
            <mat-icon mat-list-icon color="primary">folder</mat-icon>
          </button>
          <h4 mat-line>{{ CollectionName.name }}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <ng-template #elsewarning>
      <div class="alert alert-danger" role="alert">
        Choose DataBase First
      </div>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Data</ng-template>
    <mat-card
      align="center"
      *ngIf="collectionService.dataListFlag === 1; else elsewarningcoll"
      class="my-5 w-75 mx-auto"
    >
      <h1 align="center">List of Data Id's</h1>
      <mat-list>
        <mat-list-item
          *ngFor="let collectionName of collectionService.dataList"
        >
          <button mat-icon-button [disabled]="true">
            <mat-icon mat-list-icon>folder</mat-icon>
          </button>
          <h4 mat-line>{{ collectionName._id }}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card>


    <ng-template #elsewarningcoll>
      <div class="alert alert-danger" role="alert">
        Choose Collection First
      </div>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>
